<%= erb :'templates/partials/header'  %>

  <div role="main" id="main">

    <article class="alpha g2">

      <h1 class="module heading dotted no-margin-top">What is Depression?</h1>
      <p class="intro">
        When someone is depressed they may feel a range of things and this may last for a long period of time so its important you understand depression. The term depression is used to describe everything from feelings of sadness to suicidal thoughts. If this is the case its important that you get help.
      </p>

      <div class="content">

        <h3 class="module heading dotted">&nbsp;</h3>

        <div class="module story callout fr">
          <img src="/images/blank.gif" style="background: url(/images/temp/temp-test2.jpg) center;" />
          <blockquote>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. 
          </blockquote>
        </div>

        <p>As the stressful situation passes a more regular sleep pattern is likely to return. Irregular sleep patterns can avlso be to depression. If you have been feeling for a couple of weeks and also been unable to sleep it may be advisable to speak to someone such as a local doctor. It is likely irregular sleep patterns can also be related to depression.</p>

        <p>People experiencing depression may have suicidal thoughts. If you feel like this, it is important you seek help. A family member, teacher, doctor or psychologist may be a good first step.</p>
        <p>If you know someone is having suicidal thoughts, encourage them to seek help. Let them know that if you think they will hurt themself then you will have to tell someone. If they are scared about telling someone else you can offer to go with them for support.</p>


        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>

      </div>
    </article>

    <div class="g1">
      <div id="sidebaricons">
        <a href="#" class="ui-generic-blueicon-addthis block fr"></a>
        <a href="#" class="ui-generic-blueicon-pdf block fr"></a>
        <a href="#" class="ui-generic-blueicon-printer block fr"></a>
        <a href="#" class="ui-generic-blueicon-mail block fr"></a>
      </div>
      <section id="sidebar">
        <div class="inner top">
          
          <div class="module list standard">
            <div class="heading">
              <h3>Tough Times</h3>
            </div>
            <div class="content">
              <ul>
                <li>
                  <h4 class="title">
                    <a href="#">View the discussion</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">View the discussion</a>
                  </h4>
                </li>
              </ul>
            </div>
          </div><!-- module-list-standard -->

          <div class="module list standard">
            <div class="heading">
              <h3>Tough Times</h3>
            </div>
            <div class="content">
              <ul>
                <li>
                  <h4 class="title">
                    <a href="#">View the discussion</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">View the discussion</a>
                  </h4>
                </li>
              </ul>
            </div>
          </div><!-- module-list-standard -->

        </div>

        <div class="inner middle">

          <div class="module list standard">
            <div class="heading">
              <h3>Tough Times</h3>
            </div>
            <div class="content">
              <ul>
                <li class="module ui-generic callout border-radius-top">
                 <h4 class="title">
                    whatever <br>
                    <a href="#">View the discussion</a>
                  </h4>
                  <em class="ui-generic-callout-speechmark-top"></em>
                </li>
                <li class="module ui-generic callout border-radius-top border-radius-bottom">
                  <h4 class="title">
                    whatever <br>
                    <a href="#">View the discussion</a>
                  </h4>
                </li>
                <li class="module ui-generic callout border-radius-top border-radius-bottom">
                  <h4 class="title">
                    whatever <br>
                    <a href="#">View the discussion</a>
                  </h4>
                </li>
                <li class="module ui-generic callout border-radius-bottom highlight">
                    <a href="#">View the discussion</a>
                </li>
              </ul>
            </div>
          </div><!-- module-list-standard -->

        </div>

        <div class="inner bottom">
          <div class="module list standard">
            <div class="heading">
              <h3>Tough Times</h3>
            </div>
            <div class="content">
              <ul>
                <li class="module ui-generic help">
                  <h5>
                    View the discussion
                  </h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                  <h6>Call:</h6>
                  <span class="telephone">1800 234 236</span>
                </li>
                <li class="module ui-generic help">
                  <h5>
                    View the discussion
                  </h5>
                  <span class="subheading">Age: 5-25</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                  <h6>Call:</h6>
                  <span class="telephone">1800 234 236</span>
                  <button class="btn orange">Chat Online</button>
                </li>
                <li class="module ui-generic help">
                  <h5>
                    View the discussion
                  </h5>
                  <span class="subheading">Age: 5-25</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                  <h6>Call:</h6>
                  <span class="telephone">1800 234 236</span>
                  <button class="btn orange">Chat Online</button>
                </li>
              </ul>
            </div>
          </div><!-- module-list-standard -->
        </div>

      </section>
    </div>

  </div>
  <br style="clear:both;">
<%= erb :'templates/partials/footer'  %>