    <footer>
          <nav id="footer-secondary">
      <div class="inner">
        <div class="module byline el">
          <div class="left">
            <span>Copyright Reach Out &copy; 2012</span>
            <a href="#">Privacy</a>
            <b class="pipe">&nbsp; | &nbsp;</b>
            <a href="#">Terms & Conditions</a>
          </div>
        </div>
      </div>
    </nav>
    </footer>
  </div> <!--! end of #container -->

  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
  mathiasbynens.be/notes/async-analytics-snippet -->
  <script src="/js/custom/mobile.js"></script>
  <script type="text/javascript">
        jQuery(document).ready(function(){
          if( typeof window.RO["i"] === "undefined"){
            window.RO["i"] = new RO.Main.ReachOutMobile()   
          }
        });
  </script>

  <script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>


</body>
</html>
