.emergency-logo-kids-eheadspace { width: 157px; height: 34px; background: url(../../images/emergency-logos.png) -20px -23px no-repeat; }
.emergency-logo-kids-helpline { width: 66px; height: 62px; background: url(../../images/emergency-logos.png) -217px -9px no-repeat; }
.emergency-logo-lifeline { width: 119px; height: 44px; background: url(../../images/emergency-logos.png) -323px -18px no-repeat; }
.emergency-logo-suicide-callback { width: 97px; height: 80px; background: url(../../images/emergency-logos.png) -482px 0px no-repeat; }
