.nav-sub-emergency { width: 240px; height: 66px; background: url(../../images/nav-sub.png) -20px 0px no-repeat; }
.nav-sub-facebook { width: 18px; height: 18px; background: url(../../images/nav-sub.png) -300px -24px no-repeat; }
.nav-sub-twitter { width: 21px; height: 17px; background: url(../../images/nav-sub.png) -358px -24px no-repeat; }
.nav-sub-youtube { width: 20px; height: 19px; background: url(../../images/nav-sub.png) -419px -23px no-repeat; }
