.nav-main-featured-bg { width: 301px; height: 387px; background: url(../../images/nav-main.png) -20px 0px no-repeat; }
.nav-main-logo { width: 180px; height: 108px; background: url(../../images/nav-main.png) -361px -139px no-repeat; }
