/*
 Layout
 --------------------------------------------------------------------------- */

body {
	width: 100%;
}

#main { 
	width: auto !important;
	padding: 0;
}

#primary-search .inner {
	width: auto !important;
}


header {
	background: none;
	padding: 15px;
}

header h1 { margin: 0 ; }

#footer-secondary .inner {
	width: auto!important;
	padding: 10px 0px;
	padding-top: 15px;
}

#featured-image {
	padding: 20px;
}

 /* 

 Modules
 --------------------------------------------------------------------------- */
.module.nav-main-logo {
	background-size: contain !important;
	background: url(../images/nav-main/nav-main-logo.png) no-repeat;
	width: 93px;
	height: 56px;
	
}


/* module:; Search-Module; */
.module.nav.nav-search.mobile {
	background-color: #4176ba;
}
.module.nav.nav-search.mobile .nav-search-bar {
	width: auto !important;
	height: 52px !important;

}
.module.nav.nav-search.mobile .nav-search-bar {
	background-image: none;
}
.module.nav.nav-search.mobile .btn.orange { 
	border: none; 
	position: absolute;
	left: 74%;
	margin-left: 30px;
	top: 12px;
	padding: 3px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	color: #fff;
	font-family: "Helvetica Neue","Helvetica","Arial";
	font-size: 0px;
	line-height: 0;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;

}
.module.nav.nav-search.mobile .nav-search-input {
	border: 0;
	position: absolute;
	padding: 5px;
	left: 10px;
	top: 12px;
	width: 74% !important;
	outline: none;
	font-size: 14px;
}


/* module: Slideshow; */




.module.slideshow.mobile > .inner {
	width: 100%;
	margin: 0 auto;
	position: realtive;
	padding: 0 30px;
	background: rgb(254,255,237);
}

.module.slideshow.mobile .anchor { 
	width: 100%; 
	height: 150px; 
	margin-left: -30px;
	position: relative;
}
.module.slideshow.mobile .content {
	z-index: 0;
	position: absolute;
	left: 45%;
}

.module.slideshow.mobile .callout {
	position: absolute;
	left: 0px;
	z-index: 3;
	left: 20px;
	width: 160px;
	/*width: 314px;*/
	padding-top: 20px;

}

.module.slideshow.mobile .callout a {
	font-weight: bold;
}

.module.slideshow.mobile .callout > h2 {
	margin: 0;
	font-size: 23px;
	font-family: "KondolarBold","Myriad Pro","Helvetica";
	line-height: 20px;
	color: #4176ba;
	letter-spacing: -1px;
	-webkit-font-smoothing: antialiased;
}

.module.slideshow.mobile .callout > h3 {
	margin-top: 10px;
	font-size: 14px;
	line-height: 16px;
	width: 120px;
	color: #271c02;
	font-family: "Helvetica Neue","Helvetica","Arial";
}


.module.slideshow.mobile .content img {
	height: 150px;
	width: 320px;
	right: -100px;
	background-size: cover;
	background-repeat: no-repeat;
	border: none;
}

.module.slideshow.mobile .slideshow-overlay-tl {
	position: absolute;
	right: -1496px;
	z-index: 2;
}	


/* byline */
.module.byline {
	height: 20px;
	font-size: 8px;
}

/* feature image */
.module.feature.main.mobile .feature-image {
	height: 200px;
	margin-top: -20px;
}


.module.feature.main.mobile .heading {
	bottom: 0 !important;
	margin-bottom: 0;
}

.module.category.subheading {
	font-size: 16px;
	color: #4176ba;
	padding-left: 20px;
	margin: 0;
	margin-bottom: 10px;
}


 /* 

 Buttons
 --------------------------------------------------------------------------- */








 /* 

 States
 --------------------------------------------------------------------------- */
.ui-btn:hover { text-decoration: none !important;}
.ui-btn.ui-btn-up-yellow,
.ui-btn.ui-btn-hover-yellow,
.ui-btn.ui-btn-down-yellow
{
	background: #fff05f;
}
.ui-btn.ui-btn-up-orange,
.ui-btn.ui-btn-hover-orange,
.ui-btn.ui-btn-down-orange
{
	background: #e77a1f;

}

.ui-btn.ui-btn-up-orange .ui-btn-text,
.ui-btn.ui-btn-hover-orange .ui-btn-text,
.ui-btn.ui-btn-down-orange .ui-btn-text 
{
	color: #fff;
}

.ui-btn {
	display: block;
	padding: 10px 0px;
}
.ui-btn .ui-btn-inner {
	font-size: 23px;
	color: #4176ba;	
	font-family: "KondolarBold";
	padding-left: 20px;
}


.ui-loader { display: none }
.ui-collapsible { margin: .5em 0;  }
.ui-collapsible-heading {
    font-size: 16px;
    display: block;
    margin: 0;
    padding: 0;
    border-width: 0 0 1px 0;
    position: relative;
    border-top: 1px solid #fff; 


}
.ui-collapsible-heading a {
    text-align: left;
    margin: 0;
}
.ui-collapsible-heading .ui-btn-inner,
.ui-collapsible-heading .ui-btn-icon-left .ui-btn-inner { padding-left: 20px !important;
	font-size: 23px;
	color: #4176ba;
}
.ui-collapsible-heading .ui-btn-icon-right .ui-btn-inner {
    padding-left: 12px;
    padding-right: 20px;
}
.ui-collapsible-heading .ui-btn-icon-top .ui-btn-inner,
.ui-collapsible-heading .ui-btn-icon-bottom .ui-btn-inner {
    padding-right: 20px;
    text-align: center;
}
.ui-collapsible-heading a span.ui-btn {
    position: absolute;
    left: 6px;
    top: 50%;
    margin: -12px 0 0 0;
    width: 20px;
    height: 20px;
    padding: 1px 0px 1px 2px;
    text-indent: -9999px;
}
.ui-collapsible-heading a span.ui-btn .ui-btn-inner { padding: 10px 0 }
.ui-btn .ui-icon {
    right: 0px;
  float: right;
    margin-top: 8px;
    margin-right: 20px;
    right: 0px;
    
}
.ui-btn.ui-btn-icon-right .ui-icon {
	right: 0px;
}
.ui-collapsible-heading-status {
    position: absolute;
    top: -9999px;
    left: 0px;
}
.ui-collapsible-content {
    display: block;
    margin: 0 !important;
    border-top: none; /* Overrides ui-btn-up-* */
    background-image: none; /* Overrides ui-btn-up-* */
    font-weight: normal; /* Overrides ui-btn-up-* */
}
.ui-collapsible-content-collapsed { display: none }
.ui-collapsible-set .ui-collapsible { margin: -1px 0 0 }

.ui-header {
	background: #4176ba;
	padding: 10px;
	text-align: center;
}
.ui-header .ui-title {
	color: #fff;
	margin: 0;
	font-size: 23px;
	line-height: 23px;
}