<%= erb :'mobile/partials/header'  %>
<div id="main" role="main">
	<div data-role="header"> 
		<h1>Whatever the category name is</h1> 
	</div> 
	<div id="featured-image">
		<div class="module feature main mobile">
          <div class="module ui-generic feature-image">
               <img src="/images/blank.gif" style="background-image: url(/images/temp/temp-test.jpg);">
              	<h4 class="module heading ui-generic-heading-overlay">
                Relaxation techniques
                <span> Lorem ipsum dolor sit amet, consec tetur adipiscing elit. <a href="#">Learn more</a>
                </span>
              </h4>
          </div>
        </div>
	</div>
	<h6 class="module category subheading">In this section</h6>
	<div data-role="collapsible-set" data-iconpos="right" data-theme="orange" data-collapsed-icon="white-left-arrow" data-expanded-icon="white-down-arrow">
      <div data-role="collapsible" data-collapsed="true">
        <h3>Subcategory One</h3>
        <a href="index.html" data-role="button" data-theme="white" data-icon="blue-left-arrow" data-iconpos="right">Lorem ipsum dolor sit amet 1</a>
        <a href="index.html" data-role="button" data-theme="white" data-icon="blue-left-arrow" data-iconpos="right">Lorem ipsum dolor sit amet 2</a>
        <a href="index.html" data-role="button" data-theme="white" data-icon="blue-left-arrow" data-iconpos="right">Lorem ipsum dolor sit amet 3</a>
      </div>
      <div data-role="collapsible" data-collapsed="true">
        <h3>Subcategory Two</h3>
        <a href="index.html" data-role="button" data-theme="white" data-icon="blue-left-arrow" data-iconpos="right">Lorem ipsum dolor sit amet 1</a>
        <a href="index.html" data-role="button" data-theme="white" data-icon="blue-left-arrow" data-iconpos="right">Lorem ipsum dolor sit amet 2</a>
        <a href="index.html" data-role="button" data-theme="white" data-icon="blue-left-arrow" data-iconpos="right">Lorem ipsum dolor sit amet 3</a>
      </div>
       <div data-role="collapsible" data-collapsed="true">
        <h3>Subcategory Three</h3>
        <a href="index.html" data-role="button" data-theme="white" data-icon="blue-left-arrow" data-iconpos="right">Lorem ipsum dolor sit amet 1</a>
        <a href="index.html" data-role="button" data-theme="white" data-icon="blue-left-arrow" data-iconpos="right">Lorem ipsum dolor sit amet 2</a>
        <a href="index.html" data-role="button" data-theme="white" data-icon="blue-left-arrow" data-iconpos="right">Lorem ipsum dolor sit amet 3</a>
      </div>
    </div>
</div>
<%= erb :'mobile/partials/footer'  %>