<%= erb :'mobile/partials/header'  %>

      <section id="slideshow">
      
        <div class="module slideshow el mobile">
          <div class="inner" data-slideshow="parent">

            <div class="anchor" data-slideshow="anchor">

              <div class="callout" data-slideshow="callout">
                <h2>We're here for young people.</h2>
                <h3>Its Anonymous & open 24/7.</h3>
                <a href="#">Learn more</a>

              </div>

              <div class="overlay-tl" data-slideshow="left">
                <div class="inner">
                  <b class="slideshow-overlay-tl block"></b>
                </div> 
              </div>
              
              <div class="content" data-slideshow="cycle">
                <img src="/images/blank.gif" style="background: url(../images/temp/temp-slideshow1.jpg);" 
                  data-slideshow-title="Working with friends"
                  data-slideshow-subsection="Subsection title here"
                  data-slideshow-description="Lorem ipsum dolor sit amet, consec tetur adipiscing elit."
                  data-slideshow-link="#"
                >
                <img src="/images/blank.gif" style="background: url(../images/temp/temp-slideshow2.jpg);" 
                  data-slideshow-title="Working with friends"
                  data-slideshow-subsection="Subsection title here"
                  data-slideshow-description="Lorem ipsum dolor sit amet, consec tetur adipiscing elit."
                  data-slideshow-link="#"
                >
              </div>
     

            </div>

          </div>
        </div>
    </section>
    <div class="module nav nav-search mobile">
      <div class="nav-search-bar">
        <input name="ctl09$ctl03$SearchText" type="text" id="ctl09_ctl03_SearchText" class="nav-search-input" placeholder="Search Reach Out...">
        <input type="submit" data-role="none" class="btn orange nav-search-button-mobile inline-block" />
      </div>
    </div>
    <div id="main" role="main">
      <a href="#" data-role="button" data-theme="white" data-icon="blue-left-arrow" data-iconpos="right">Browse</a>
      <a href="#" data-role="button" data-theme="yellow" data-icon="blue-left-arrow" data-iconpos="right">Emergency Help</a>
    </div>

    <div id="menu">
    </div>

    <ul data-role="paging-list-view">
      <li>
        <h3 class="whatever">Animals</h3>
        <p class="test">All your favorites from aarkvarks to zebras.</p>
        <ul>
          <li>
            <h4>Pets</h4>
            <ul>
              <li><a href="#">Canary</a></li>
              <li><a href="#">Cat</a></li>
              <li><a href="#">Dog</a></li>
              <li><a href="#">Gerbil</a></li>
              <li><a href="#">Iguana</a></li>
              <li><a href="#">Mouse</a></li>
            </ul>
          </li>
          <li>
            <h4>Farm animals</h4>
            <ul>
              <li><a href="#">Chicken</a></li>
              <li><a href="#">Cow</a></li>
              <li><a href="#">Duck</a></li>
              <li><a href="#">Horse</a></li>
              <li><a href="#">Pig</a></li>
              <li><a href="#">Sheep</a></li>
            </ul>
          </li>
          <li>
            <h4>WildAnimals</h4>
            <ul>
              <li><a href="#">Aardvark</a></li>
              <li><a href="#">Alligator</a></li>
              <li><a href="#">Ant</a></li>
              <li><a href="#">Bear</a></li>
              <li><a href="#">Beaver</a></li>
              <li><a href="#">Cougar</a></li>
              <li><a href="#">Dingo</a></li>
              <li><a href="#">Eagle</a></li>
              <li><a href="#">Elephant</a></li>
              <li><a href="#">Ferret</a></li>
              <li><a href="#">Frog</a></li>
              <li><a href="#">Giraffe</a></li>
              <li><a href="#">Lion</a></li>
              <li><a href="#">Monkey</a></li>
              <li><a href="#">Panda bear</a></li>
              <li><a href="#">Polar bear</a></li>
              <li><a href="#">Tiger</a></li>
              <li><a href="#">Zebra</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>

        <h3>Colors</h3>
        <p>Fresh colors from the magic rainbow.</p>
  
        <ul>
          <li><a href="#">Blue</a></li>
          <li><a href="#">Green</a></li>
          <li><a href="#">Orange</a></li>
          <li><a href="#">Purple</a></li>
          <li><a href="#">Red</a></li>
          <li><a href="#">Yellow</a></li>
          <li><a href="#">Violet</a></li>
        </ul>
      </li>
      <li>
        <h3>Vehicles</h3>
        <p>Everything from cars to planes.</p>
        
        <ul>
          <li>Cars
            <ul>
              <li><a href="#">Acura</a></li>
              <li><a href="#">Audi</a></li>
              <li><a href="#">BMW</a></li>
              <li><a href="#">Cadillac</a></li>
              <li><a href="#">Chrysler</a></li>
              <li><a href="#">Dodge</a></li>
              <li><a href="#">Ferrari</a></li>
              <li><a href="#">Ford</a></li>
              <li><a href="#">GMC</a></li>
              <li><a href="#">Honda</a></li>
              <li><a href="#">Hyundai</a></li>
              <li><a href="#">Infiniti</a></li>
              <li><a href="#">Jeep</a></li>
              <li><a href="#">Kia</a></li>
              <li><a href="#">Lexus</a></li>
              <li><a href="#">Mini</a></li>
              <li><a href="#">Nissan</a></li>
              <li><a href="#">Porsche</a></li>
              <li><a href="#">Subaru</a></li>
              <li><a href="#">Toyota</a></li>
              <li><a href="#">Volkswagon</a></li>
              <li><a href="#">Volvo</a></li>
            </ul>
          </li>
          <li>Planes
            <ul>
              <li><a href="#">Boeing</a></li>
              <li><a href="#">Cessna</a></li>
              <li><a href="#">Derringer</a></li>
              <li><a href="#">Embraer</a></li>
              <li><a href="#">Gulfstream</a></li>
              <li><a href="#">Piper Aircraft</a></li>
              <li><a href="#">Raytheon</a></li>
            </ul>
          </li>
          <li>Construction
            <ul>
              <li><a href="#">Caterpillar</a></li>
              <li><a href="#">Ford</a></li>
              <li><a href="#">John Deere</a></li>

            </ul>
          </li>       
        </ul>
      </li>
    </ul>
<%= erb :'mobile/partials/footer'  %>