<%= erb :'mobile/partials/header'  %>
<div id="main" role="main">
	<div data-role="header"> 
		<h1>What is a good friend?</h1> 
	</div> 
	<div id="featured-image">
    <span rel="author-byline" class="author-byline">Story by:</span> <span rel="author" class="author">Jane Doe</span>

    <p class="mobile-intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <div class="module ui-generic feature-image mobile">
        <img src="/images/blank.gif" style="background-image: url(/images/temp/temp-test.jpg);">
    </div>
    
    <blockquote>I realised that a good friend was someone who's there to talk to when times are tougher, and celebrate with you when it matters...</blockquote>
    <h3 class="module heading dotted">What are the effects?</h3>
    <p>I didn't see how it could possibly help... It seemed to me that it was just one of those cliched things that you are always told will help but never does.Because of this personal misconception, I tended to bottle my problems up. I would hold everything in, and never tell anyone what was zipping through my mind. This soon led to trouble.</p>
    <p>Doing the HSC was hard. I constantly felt the pressure of studying and tests, as well as the underlying want and need to do well in the HSC so I could go to Uni. I never let on that I was feeling so pressured. My parents tried to do the &quot;It doesn't matter how you go...&quot; thing... But my dad being a lawyer, I felt that if I didn't do well, that they would be ashamed.</p>


    <div class="module story bluebox">        
      <h5><strong>What can I do now?</strong></h5> 
      <ul class="module list squared bigger">
        <li>feeling hopeless or helpless</li>
        <li>losing interest in activities</li>
        <li>a lack of energy</li>
        <li>changes in sleeping patterns</li>
        <li>crying a lot or feeling agitated</li>
        <li>high use of alcohol or other drugs</li>
        <li>losing your temper</li>
      </ul>
    </div>

	</div>
</div>
<%= erb :'mobile/partials/footer'  %>