<%= erb :'mobile/partials/header'  %>
<div id="main" role="main">
	<div data-role="header"> 
		<h1>Angry, Sad or Depressed</h1> 
	</div> 
	<div id="featured-image" class="subcategory-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="module heading dotted">Stories in this section</h3>
	</div>
	<div class="module list ui-generic-list-icons subcategory" data-role="mobile-list">
    <div class="content">
      <ul>
        <li>
          <b class="ui-icon-center-container ui-generic-list-image thumbnail"><img class="icn" src="/images/blank.gif" style="background-image: url(/images/temp/temp-test2.jpg);"></b>

          <h4 class="title">
            <span>Cyberbullying - What would you do?</span> <a href="http://www.google.com">View the discussion</a>
          </h4>
        </li>

        <li>
          <b class="ui-icon-center-container"><img class="icn ui-generic-icon-factsheet" src="/images/blank.gif"></b>

          <h4 class="title">
            <span>Talking about it</span> <a href="#">View the
            discussion</a>
          </h4>
        </li>

        <li>
          <b class="ui-icon-center-container"><img class="icn ui-generic-icon-story" src="/images/blank.gif"></b>

          <h4 class="title">
            <span>Talking about it</span> <a href="#">View the
            discussion</a>
          </h4>
        </li>

        <li>
          <b class="ui-icon-center-container"><img class="icn ui-generic-icon-mobileplay" src="/images/blank.gif"></b>

          <h4 class="title">
            <span>What am I feeling</span> <a href="#">View the
            discussion</a>
          </h4>
        </li>

        <li>
          <b class="ui-icon-center-container ui-generic-list-image thumbnail"><img class="icn" src="/images/blank.gif" style="background-image: url(/images/temp/temp-test2.jpg);"></b>

          <h4 class="title">
            <span>Cyberbullying - What would you do?</span> <a href="#">View the discussion</a>
          </h4>
        </li>
      </ul>
    </div>
  </div>
      <div class="footer">
      <ol class="pagination">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      </ol>
    </div>
</div>
<%= erb :'mobile/partials/footer'  %>