  <footer>
    
    <nav id="footer-main" class="grid three-to-one">

      <div class="inner">

        <div class="g1">
          <div class="module list standard invert">
            <div class="heading">
              <h3>Tough <br> Times</h3>
            </div>
            <div class="content">
              <ul>
                <li>
                  <h4 class="title">
                    <a href="#">Somethings not right</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Mental disorders</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Physical health</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Alcohol & other drugs</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Bullying, abuse & violence</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Loss & grief</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Getting help</a>
                  </h4>
                </li>
              </ul>
            </div>
          </div><!-- module list-standard -->  
          <div class="module list standard invert">
            <div class="heading">
              <h3>Get<br>Involved</h3>
            </div>
            <div class="content">
              <ul>
                <li>
                  <h4 class="title">
                    <a href="#">Youth involvement</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Campaigns</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Feature articles</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Submit your story</a>
                  </h4>
                </li>
              </ul>
            </div>
          </div><!-- module list-standard -->  
        </div>
        <div class="g1">
          <div class="module list standard invert">
            <div class="heading">
              <h3>Wellbeing<br>&nbsp;</h3>
            </div>
            <div class="content">
              <ul>
                <li>
                  <h4 class="title">
                    <a href="#">Mental fitness</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Personal identity</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">School, uni & study</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Goals & motivation</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Social skills</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Being independant</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Staying fit & healthy</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Friends & family</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Sex & relationships</a>
                  </h4>
                </li>
              </ul>
            </div>
          </div><!-- module list-standard -->  
          <div class="module list standard invert">
            <div class="heading">
              <h3>Apps<br>&amp; Tools</h3>
            </div>
            <div class="content">
              <ul>
                <li>
                  <h4 class="title">
                    <a href="#">All apps & tools</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Recommended</a>
                  </h4>
                </li>
              </ul>
            </div>
          </div><!-- module list-standard -->  
        </div>


        <div class="g1">

          <div class="module list standard invert">
            <div class="heading">
              <h3>Popular<br>Forums</h3>
            </div>
            <div class="content">
              <ul>
                <li>
                  <h4 class="title">
                    <a href="#">Healthy minds</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Wellbeing</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Helping out</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Personal identity</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">School, uni & study</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Goals & motivation</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Social skills</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Being independant</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Staying fit & healthy</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Friends & family</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Sex & relationships</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Mental fitness</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Being independant</a>
                  </h4>
                </li>
                <li>
                  <h4 class="title">
                    <a href="#">Something not right</a>
                  </h4>
                </li>
              </ul>
            </div>
          </div><!-- module list-standard -->  
        </div>
        <div class="g1 extended">
          <div class="module list standard invert" data-exclude="true">
            <div class="heading">
              <h3>About Reach Out<br>&nbsp;</h3>
            </div>
            <div class="content">
              
              <div class="module ui-generic callout-fuzzy ui-generic-callout-fuzzy">
                <div class="inner">
                  <ul class="module list yellow">
                    <li>
                      <h4 class="title">
                        <a href="#" class="larger">What is Reach Out?</a>
                      </h4>
                    </li>
                    <li>
                      <h4 class="title">
                        <a href="#" class="larger">Is Reach Out confidential?</a>
                      </h4>
                    </li>
                    <li>
                      <h4 class="title">
                        <a href="#" class="larger">Expert advice on Reach Out</a>
                      </h4>
                    </li>
                    <li>
                      <h4 class="title">
                        <a href="#" class="larger">How does Reach Out help young people?</a>
                      </h4>
                    </li>
                    <li>
                      <h4 class="title">
                        <a href="#" class="larger">Who funds Reach Out?</a>
                      </h4>
                    </li>
                  </ul><!-- module list yellow -->
                  <div class="module ui-generic reachout-logo">
                    <p>
                      ReachOut.com is run by 
                      the Inspire Foundation
                    </p>
                    <img src="images/blank.gif" class="ui-generic-inspire-logo" />
                  </div>
                </div>
              </div><!-- module ui-generic-callout-fuzzy -->


            </div>
          </div><!-- module list-standard -->  
        </div>

      </div>

    </nav>
    
    <nav id="footer-secondary">
      <div class="inner">
        <div class="module byline el">
          <div class="left">
            <span>Copyright Reach Out &copy; 2012</span>
            <a href="#">Privacy</a>
            <b class="pipe">&nbsp; | &nbsp;</b>
            <a href="#">Terms & Conditions</a>
          </div>
          <div class="right">
            <span>Hosted by Haylix</span> 

            <a href="#" class="ui-generic-haylix-logo inline-block"></a>
          </div>
        </div>
      </div>
    </nav>

  </footer>


<addition:extended>
<div class="hidden">

  <div class="module list standard">
    <div class="heading">
      <h3>Tough Times</h3>
    </div>
    <div class="content">
      <ul>
        <li>
          <h4 class="title">
            <a href="#">View the discussion</a>
          </h4>
        </li>
        <li>
          <h4 class="title">
            <a href="#">View the discussion</a>
          </h4>
        </li>
      </ul>
    </div>
  </div>
</div>
</addition:extended>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script src="js/custom/application.js"></script>
  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
  mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>